<div class="alert alert-success fadein fadeout" role="alert" ng-show="infoMessage" style="margin-top:50px;"
		 xmlns="http://www.w3.org/1999/html">
			 Osoba je uspjesno upisana!
</div>

<div class="row">
	<div class="row">
		<div class="col-lg-6">
<!--name="loginForm" novalidate ng-app="LoginApp" ng-controller="LoginController" rc-submit="login()"-->
				<form class="form-horizontal" name="SubmitKontakt" novalidate rc-submit="submitForm()">
					<div class="col-lg-7">
					<fieldset style="margin-bottom:50px;">
						<legend>Dodavanje novog člana</legend>
						<div class="form-group" ng-class="{'has-error': rc.SubmitKontakt.needsAttention(SubmitKontakt.firstName)}">
							<label for="inputFirstName" class="col-lg-2 control-label">Ime</label>
							<div class="col-lg-6">
								<input type="text" ng-model="form.firstName" class="form-control" name="firstName" id="inputFirstName" placeholder="Ime" required/>
								<span class="help-block" ng-show="SubmitKontakt.firstName.$error.required">Required</span>							
							</div>
						</div>					
						<div class="form-group" ng-class="{'has-error': rc.SubmitKontakt.needsAttention(SubmitKontakt.lastName)}">
							<label for="inputLastName" class="col-lg-2 control-label">Prezime</label>
							<div class="col-lg-6">
								<input type="text" ng-model="form.lastName" class="form-control" name="lastName" id="inputLastName" placeholder="Prezime" required/>
								<span class="help-block" ng-show="SubmitKontakt.lastName.$error.required">Required</span>
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': rc.SubmitKontakt.needsAttention(SubmitKontakt.city)}">
							<label for="inputCity" class="col-lg-2 control-label">Grad</label>
							<div class="col-lg-6">
								<input type="text" ng-model="form.city" class="form-control" name="city" id="inputCity" placeholder="Grad" required/>
								<span class="help-block" ng-show="SubmitKontakt.city.$error.required">Required</span>
							</div>
						</div>
						<div class="form-group">
							<label for="inputDescription" class="col-lg-2 control-label">Opis</label>
							<div class="col-lg-8">
								<textarea ng-model="form.description" class="form-control" name="description" rows="3" id="inputDescription"></textarea>
								<span class="help-block">Kratki opis osobe.</span>
							</div>
						</div>

					</fieldset>
					<button type="submit" class="btn btn-primary">Spremi</button>
					<button type="button"  ng-click="cancelEdit()" class="btn btn-primary">Odustani</button>					
				  </div>
			</form>
		</div>
	</div>
</div>
